@use "../../style/mixins/fonts.scss";

article .act-card .card-title-text {
    font-size: 1.5em;
}

.act-card {
    .act-summary {
        margin: 1em;
        padding-bottom: 0.6em;
        @include fonts.italic();
    }
}