@use "../../style/mixins/fonts.scss";

.beat-card {
    .card-title-text {
        font-size: 1.2em !important;
    }

    .beat-summary {
        opacity: 90%;
        @include fonts.italic();
        margin: 1em;
    }

    .beat-summary:hover,
    .beat-summary:focus {
        opacity: 1;
    }

    .character {
        display: flex;
        align-items: center;
        width: auto;
        float: left;
        margin-right: 0.6em;
    }

}