.beat-card {
    .summary {
        opacity: 90%;
        font-style: italic;
    }

    .character {
        display: flex;
        align-items: center;
        width: auto;
        float: left;
        margin-right: 0.6em;
    }

    .script-line {
        display: flex;
        flex-direction: row;
    }

    .beat-summary {
        font-style: italic;
    }
}