.beat-card {
    .card-title-text {
        font-size: 1.2em !important;
    }

    .beat-summary-text {
        opacity: 90%;
        font-style: italic;
        margin-bottom: 1em;
        margin-left: 0.4em !important;
    }

    .beat-summary-text:hover,
    .beat-summary-text:focus {
        opacity: 1;
    }

    .character {
        display: flex;
        align-items: center;
        width: auto;
        float: left;
        margin-right: 0.6em;
    }

    .beat-summary {
        font-style: italic;
    }
}