$max-depth: 5;

@function nest-selectors($selector, $depth) {
    $result: $selector;

    @for $i from 2 through $depth {
        $result: "#{$result} #{$selector}";
    }

    @return $result;
}


.card {
    border: 1pt solid hsla(0, 0%, 20%, 90%);
    background-color: hsla(0, 0%, 20%, 20%);
    box-shadow: 0 0 6pt rgba(220, 220, 220, 0.15);
    padding: 0 1em 1em;
    margin: 1em 0.3em 0;

    transition: box-shadow 0.3s ease;

    // Loop to create nested styles
    @for $i from 1 through $max-depth {
        $lightness: 20% + ($i * 1%);

        @at-root {
            #{nest-selectors('.card', $i)} {
                background-color: hsla(0, 0%, $lightness, 0.8);
            }
        }
    }


    &:hover,
    &:focus {
        box-shadow: 0 0 12pt rgba(220, 220, 220, 0.25);
        outline: none;
    }

    &.open {
        background-color: #2c2c2c;
        box-shadow: 0 0 12pt rgba(0, 0, 0, 0.7);
    }

    &.summary {
        font-size: 80%;
    }

    .card-content {
        .description {
            font-size: 1rem;
            margin-bottom: 0.75rem;
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 0.4rem;
            margin: 1em 0;

            .tag {
                border: 1pt solid #eeea;
                color: #eeea;
                font-size: 0.875rem;
                padding: 0.15rem 0.5rem;
                border-radius: 10pt;
                user-select: none;
            }
        }

    }

}

.open {
    .card-title-text::after {
        padding-left: 1em;
        opacity: 0.5;
        content: '▲';
    }
}

.closed {
    .card-title-text::after {
        padding-left: 1em;
        opacity: 0.5;
        content: ' ▼ ';
    }
}