.card {
    border: 1pt solid rgba(255, 255, 255, 0.166);
    background-color: rgba(50, 50, 50, 0.1);
    box-shadow: 0 0 6pt rgba(220, 220, 220, 0.15);
    padding: 0 0.4em;
    margin: 0.6em 0 0.4em;
    transition: box-shadow 0.3s ease;

    &:hover,
    &:focus {
        box-shadow: 0 0 12pt rgba(220, 220, 220, 0.25);
        outline: none;
    }

    &.open {
        background-color: #2c2c2c;
        box-shadow: 0 0 12pt rgba(0, 0, 0, 0.7);
    }

    &.loading,
    &.error {
        color: #999;
        font-style: italic;
        font-size: 0.9rem;
    }

    &.summary {
        font-size: 80%;
    }

    .card-content {
        .description {
            font-size: 1rem;
            color: #444;
            margin-bottom: 0.75rem;
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 0.4rem;
            margin: 1em 0;

            .tag {
                background-color: hsl(226, 100%, 24%);
                color: hsl(235, 90%, 85%);
                font-size: 0.875rem;
                padding: 0.15rem 0.5rem;
                border-radius: 12px;
                user-select: none;
            }
        }

    }

}

.card.summary.open {
    .card-title-text::after {
        padding-left: 1em;
        opacity: 0.5;
        content: '▲';
    }
}

.card.summary.closed {
    .card-title-text::after {
        padding-left: 1em;
        opacity: 0.5;
        content: ' ▼ ';
    }
}