.character-card {
    .details {
        flex: 1;
    }

    .bio {
        margin: 0 0 0.25em 0;
        color: #ccc;
    }

    .tags {
        font-size: 0.75em;
        color: #aaa;

        .tag {
            margin-right: 0.375em;
            background-color: #444;
            padding: 0.125em 0.375em;
            border-radius: 0.25em;
        }
    }

    .meta {
        font-size: 0.75em;
        color: #666;
    }
}