article .scene-card .card-title-text {
    font-size: 1.4em;
}

.scene-card {

    h4,
    h5 {
        opacity: 0.4;
    }

    h4:hover,
    h5:hover {
        opacity: 1;
    }

    .scene-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .scene-summary {
        margin-left: 0.4em !important;
    }

    .scene-duration {
        color: #aaa;
        white-space: nowrap;
    }

    .scene-details {
        line-height: 1.4;
        color: #ccc;

        p,
        blockquote {
            margin-left: 0;
        }
    }

    .scene-summary {
        font-style: italic;
        opacity: 0.4;
    }

    .scene-summary:hover {
        opacity: 1;
    }

    .scene-location {}

    .scene-script-excerpt {
        margin-top: 0.625em;
        padding-left: 0.625em;
        border-left: 3pt solid #555;
        font-style: italic;
        color: #999;
        user-select: text;
    }
}