article .scene-card .card-title-text {
    font-size: 1.4em;
}

.scene-card {

    h4,
    h5 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    h4:hover,
    h5:hover {
        opacity: 1;
    }

    .scene-summary {
        margin: 1em;
        margin-bottom: 2em;
        font-size: 140%;
        font-style: italic;
        opacity: 0.4;

        &:hover {
            opacity: 1;
        }

    }

    .scene-duration {
        color: #aaa;
        white-space: nowrap;
    }

    .scene-details {
        line-height: 1.4;
        color: #ccc;

        p,
        blockquote {
            margin-left: 0;
        }

        .scene-script-excerpt {
            margin-top: 0.625em;
            padding-left: 0.625em;
            border-left: 3pt solid #555;
            border-radius: 0;
            font-style: italic;
            color: #999;
            user-select: text;
        }
    }
}