@use "../../style/mixins/fonts.scss";

.script-lines {
    .script-line {
        border-radius: 0;
        border-left: 4pt solid grey;
        padding-left: 4pt;

        font-family: 'Courier New', Courier, monospace !important;

        &.script-line-description {
            @include fonts.italic();
            margin-left: 1em;
        }

        label {
            select {
                font-size: 0.875rem;

                &:focus {
                    outline: none;
                    border-color: #888;
                    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
}