@use "../../style/mixins/fonts.scss";


.script-line.script-line-dialogue {
    margin-left: -2em !important;

    textarea {
        font-family: IBMPlexMono, 'Courier New', Courier, monospace;
        font-size: 10pt;
    }
}

.card.script-line-card .script-line.script-line-dialogue .avatar-circle {
    min-width: 1.1em;
    min-height: 1.1em;
    width: 1.1em;
    height: 1.1em;
    max-width: 1.1em;
    max-height: 1.1em;
}

.card.script-line-card {
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.scriptlines {
    margin: 0.3em 0;

    button.new {
        margin-top: 1em;
        opacity: 50%;
    }


    .script-line-card {
        border: 1pt solid grey;
        border-left: 4pt solid grey;
        font-size: 10pt;
    }

    .script-line-type-label {
        margin-left: 0.6em;
    }

    select.script-line-type {
        font-variant: small-caps;
        text-transform: uppercase;
        @include fonts.system();
        font-size: xx-small;
        padding-bottom: 2pt;
        opacity: 50%;
    }

    .script-line-type-dialogue {
        border-left-width: 16pt;
    }

    .script-line-type-description {
        border-color: green;
    }

    .script-line-type-action {
        border-color: orange;
    }

    .script-line-type-paraphetical {
        border-color: cyan;
    }

    .script-line-type-shot {
        border-color: oldlace;
    }

    .script-line-type-transition {
        border-color: purple;
    }

    .script-line-type-transition {
        border-width: 1pt;
        border-style: solid;
        border-left-width: 4pt;
    }

    .script-line-type:hover {
        opacity: 100%;
    }

    .script-line {
        padding: 0;
        margin: 0 1em;
        margin-top: 0;
        padding-left: 0.6em;

        display: flex;
        flex-direction: row;
        align-content: flex-start;
        font-size: 120%;
        margin-left: 0.3em;

        &.script-line-description {
            @include fonts.italic();
        }

        &.script-line-dialogue input {
            @include fonts.typewriter();
            width: 100%;
        }

        .delete {
            opacity: 50%;
        }

        .delete:hover {
            opacity: 100%;
            color: white;
        }

        label {
            select {
                font-size: 0.875rem;

                &:focus {
                    outline: none;
                    border-color: #888;
                    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
}