@use "../../style/mixins/fonts.scss";

.script-lines {
    margin: 0.3em 0;

    .script-line-type {
        font-variant: small-caps;
        text-transform: uppercase;
        @include fonts.system();
        font-size: xx-small;
        padding-bottom: 2pt;
        opacity: 50%;
    }

    .script-line-type:hover {
        opacity: 100%;
    }

    .script-line {
        padding: 0;
        margin: 1em;
        margin-top: 0;
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        font-size: 120%;
        margin-left: 0.3em;

        &.script-line-description {
            @include fonts.italic();
        }

        &.script-line-dialogue input {
            @include fonts.typewriter();
            width: 100%;
        }

        .delete {
            opacity: 50%;
        }

        .delete:hover {
            opacity: 100%;
            color: white;
        }

        label {
            select {
                font-size: 0.875rem;

                &:focus {
                    outline: none;
                    border-color: #888;
                    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
}