.card-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    .card-title-text {
        height: 1.5em;
        font-size: 150%;
        position: relative;
        margin: 0.25em;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        button {
            font-size: inherit;
        }

        .icon {
            margin-right: 0.6em;
        }

    }

}