@mixin fancy($thumb, $track) {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    scrollbar-gutter: stable;
    --thumb-clr: #333;

    &:hover {
        scrollbar-color: var(--thumb-clr) transparent;
    }

    &::-webkit-scrollbar {
        width: 8pt;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 4pt;
    }

    &:hover::-webkit-scrollbar-thumb {
        background: var(--thumb-clr);
    }

    &:hover::-webkit-scrollbar {
        background: transparent;
    }
}