@use '../style/mixins/scrollbars.scss';

.home-layout-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0.5em 1em;
    background: #111;
    color: #eee;

    &>:last-child {
        margin-right: 2em;
    }
}

.home-layout {
    display: flex;
    flex-grow: 1;
    min-height: 0;
    height: 100vh;
    overflow: hidden;

    .panel {
        @include scrollbars.fancy(#666, #444);
        flex-shrink: 0;
        width: 0;
        overflow: hidden;
        background: #111;
        color: #eee;
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 0;
        margin: 0 0.6em;
        box-sizing: border-box;
        transition: width 0.3s ease;
        overflow-y: auto;

        .card-title-text,
        .card-title-text select {
            font-size: 10pt;
        }

        // &.left {
        // }

        &.right {
            text-align: right;
        }

        &.open {
            width: min(20vw, 40em);
            overflow-y: auto;
            padding: 0.5em 0.8em;
        }

        &.closed {
            width: 0;
            padding: 0;
            overflow: hidden;
        }

        header {
            font-size: 10pt;
        }

        .card-content {
            padding: 2pt;
        }
    }

    .main-content {
        flex-grow: 1;
        background: #121212;
        color: #eee;
        overflow-y: auto;
        overflow-y: auto;
        padding: 1em;
        transition: margin 0.3s ease;
        min-height: 0;
        overflow: auto;

        @include scrollbars.fancy(#666, #444);

        section>.card:first-of-type {
            margin-top: 0;
        }

        .card {
            padding: 1em;
        }

        .card-content {
            padding: 1em;
        }
    }
}