.creator-form {
    label {
        width: 100%;
        display: flex;
        align-items: flex-start;
        margin: 0.6em 0;
        padding: 0.3em;

        .text {
            min-width: 30%;
            max-width: 30%;
        }
    }
}