@use './Creator.scss';

.creator-form {
    .image-preview {
        margin-top: 1em;
        max-width: 50%;
        max-height: 100pt;
        overflow: hidden;
    }

    .image-preview img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: contain;
        border-radius: 6px;
        box-shadow: 0 0 6pt rgba(0, 0, 0, 0.15);
    }
}