.script-line-card,
.beat-card,
.scene-card,
.act-card,
.story-card {
    .card-header {
        cursor: move;
        // transition: opacity 0.2s;
    }
}

.script-line-card[draggable="true"]:hover,
.beat-card[draggable="true"]:hover,
.scene-card[draggable="true"]:hover,
.act-card[draggable="true"]:hover,
.story-card[draggable="true"]:hover {
    // opacity: 0.8;
    outline: 1px dotted pink;
}

.scriptlines,
.beats,
.scenes,
.acts,
.stories {
    min-height: 20px; // Ensure empty containers are droppable 
}

[draggable="true"]:active {
    // opacity: 0.5;
    outline: 1px solid pink;
}