.character-card {
    border: 0.0625em solid #444;
    border-radius: 0.5em;
    padding: 0.75em;
    margin: 0.5em 0;
    display: flex;
    align-items: center;
    background-color: #222;
    color: #eee;

    .details {
        flex: 1;
    }

    .name {
        margin: 0 0 0.25em 0;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bio {
        margin: 0 0 0.25em 0;
        color: #ccc;
    }

    .tags {
        font-size: 0.75em;
        color: #aaa;

        .tag {
            margin-right: 0.375em;
            background-color: #444;
            padding: 0.125em 0.375em;
            border-radius: 0.25em;
        }
    }

    .meta {
        font-size: 0.75em;
        color: #666;
    }
}