@use './TextInput.scss';
@use "../style/mixins/fonts.scss";

input[type=file].custom-input {
    display: none;
}

.custom-file-input-label {
    display: inline-block;
    padding: 0.5em 1em;
    cursor: pointer;
    user-select: none;
    border: 1pt solid #fff3;
    @include fonts.system();
}

// .file-input-label:hover {
//     border-color: #005fa3;
// }