.scene-card {
    .scene-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .scene-duration {
        color: #aaa;
        white-space: nowrap;
    }

    .scene-details {
        line-height: 1.4;
        color: #ccc;

        p,
        blockquote {
            margin-left: 0;
        }
    }

    .scene-summary {
        font-style: italic;
        color: #bbb;
    }

    .scene-location {}

    .scene-script-excerpt {
        margin-top: 0.625em;
        padding-left: 0.625em;
        border-left: 3pt solid #555;
        font-style: italic;
        color: #999;
        user-select: text;
    }
}