.switch {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    width: 2em;
    height: 1em;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        transition: 0.4s;
        border-radius: 1em;
        border: 1pt solid #eee8;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 0.88em;
        width: 0.88em;
        left: 0.06em;
        bottom: 0.06em;
        transition: 0.4s;
        border-radius: 50%;
        background-color: #fffa;
    }

    input:checked+.slider {
        background-color: var(--script-active-bg);
    }

    input:checked+.slider:before {
        transform: translateX(1em);
        /* move right by about half container width */
    }
}