.custom-input {
    background: unset;
    width: 100%;
    border-radius: 2pt;
    border: none;
    outline: 1pt solid transparent;
    transition: border 0.3s ease-in-out;
    margin-left: -4pt;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

.custom-input:focus {
    transition: outline 0.3s ease-in-out;
    outline: 1pt solid var(--script-cta-bg);
}

.custom-input.empty {
    border-bottom: 1pt dotted #fff5;
}

input.custom-input {
    min-height: 1em;
    max-width: 100%;
}

textarea.custom-input {
    border-bottom: 1pt dotted #fff5;
    min-height: 2em;
    width: 100%;
}