ul {
    list-style: none;
    padding-left: 2em;

    li {
        position: relative;
        margin-bottom: 0.5em;
    }
}

ul.acts {
    li::before {
        content: "🎭";
        position: absolute;
        left: -1.5em;
        top: -0.2em
    }
}

ul.scenes {
    margin-top: 1em;
    margin-bottom: 2em;

    li::before {
        content: "🎬";
        position: absolute;
        left: -1.5em;
        top: -0.2em
    }
}

ul.beats {
    margin-top: 0.6em;
    margin-bottom: 1em;

    li::before {
        content: "●";
        position: absolute;
        left: -1em;
        top: 0.05em;
    }
}