.node {
    width: 100%;
    border: 1pt solid #aaaa;
    padding: 1em;
    margin: 0;
}

.node.dragged {
    opacity: 0.5;
    border: 2px dashed red;
}

.node.drag-over {
    background-color: #def;
}

.node.valid-drop-zone {
    border: 2px solid green;
}