.story-tree {
    ul {
        list-style: none;
        margin: 0.3em;
        padding: 0 0.3em;
    }

    .node {
        width: 100%;
        border: 1pt solid transparent;
        padding: 0.1em 0.3em;
        margin: 0;

        .dragged {
            opacity: 0.5;
            border: 1pt dashed red;
        }

        .drag-over {
            background-color: #def;
        }

        .valid-drop-zone {
            border: 1pt solid green;
        }

        .scriptline {
            background: #555;
        }

        .beat {
            background: #444;
        }

        .scene {
            background: #333;
        }

        .act {
            background: #222;
        }
    }

    .drop-zone {
        height: 0.6em;
        margin: 0;
        padding: 0;
        // background: blue;
        transition: background-color 0.2s ease;
        border: 1pt dotted transparent;
    }

    .drop-zone.drag-over {
        background-color: #3399ff66;
        border-top: 1pt solid #007acc;
    }
}