.nav-bar {
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 0.4em;
        margin: 0.6em;
        padding: 0;

        li {
            margin: 0;
            padding: 2pt 0.6em;
            border: 1pt solid #fff4;
        }
    }
}