body {
    background-color: #222;
    color: #ddd;
    border: 0;
    margin: 0;
}

* {
    border-radius: 4pt;
}


h1,
h2,
h3,
h4,
h5 {
    margin: 0.6em 0;
    padding: 0;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h4,
h5 {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1pt;
    text-transform: uppercase;
    font-variant: small-caps;
    margin-top: 1em;
    position: relative;
    bottom: -2pt;
}

h5 {
    font-size: 0.8em;
}

p {
    margin: 0.25em 0;
    font-size: 0.9em;
    color: #bbb;
}

a {
    color: white;
    text-decoration: none;
}