body {
    background-color: #222;
    color: #ddd;
    border: 0;
    margin: 0;
}

* {
    border-radius: 4pt;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1em;
}