.nav-bar {
    ul {
        display: flex;
        list-style: none;
        align-items: stretch;
        justify-content: space-between;
        gap: 0.4em;
        margin: 0.6em;
        padding: 0;

        li {
            margin: 0;
            padding: 2pt 0.6em;
            border: 1pt solid #fff4;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: auto;
        }

        li label {
            padding-right: 1em;
        }

        li.spacer {
            flex-grow: 1;
            border: none;
        }
    }
}